<!-- wp:ourblocktheme/header /-->

<!-- wp:ourblocktheme/banner -->
<!-- wp:ourblocktheme/genericheading {"text":"Wellcome"} -->
<h1 class="headline headline--large">Wellcome</h1>
<!-- /wp:ourblocktheme/genericheading -->

<!-- wp:ourblocktheme/genericheading {"text":"We Think You will like it here","size":"medium"} -->
<h2 class="headline headline--medium">We Think You will like it here</h2>
<!-- /wp:ourblocktheme/genericheading -->

<!-- wp:ourblocktheme/genericheading {"text":"\u003cstrong\u003eWhy Don't you search your Major interset?\u003c/strong\u003e","size":"small"} -->
<h3 class="headline headline--small"><strong>Why Don't you search your Major
        interset?</strong></h3>
<!-- /wp:ourblocktheme/genericheading -->

<!-- wp:ourblocktheme/genericbutton {"text":"Find you Major","linkObj":{"url":"/programs"},"colorName":"orange"} -->
<a href="/programs" class="btn btn--large btn--orange">Find you Major</a>
<!-- /wp:ourblocktheme/genericbutton -->
<!-- /wp:ourblocktheme/banner -->

<!-- wp:ourblocktheme/eventsandblogs /-->

<!-- wp:ourblocktheme/slideshow -->
<!-- wp:ourblocktheme/slide -->
<!-- wp:ourblocktheme/genericheading {"text":"New Slide 1"} -->
<h1 class="headline headline--large">New Slide 1</h1>
<!-- /wp:ourblocktheme/genericheading -->

<!-- wp:ourblocktheme/genericbutton {"text":"Learn More"} -->
<a href="#" class="btn btn--large btn--blue">Learn More</a>
<!-- /wp:ourblocktheme/genericbutton -->
<!-- /wp:ourblocktheme/slide -->

<!-- wp:ourblocktheme/slide -->
<!-- wp:ourblocktheme/genericheading {"text":"New Slide 2"} -->
<h1 class="headline headline--large">New Slide 2</h1>
<!-- /wp:ourblocktheme/genericheading -->

<!-- wp:ourblocktheme/genericbutton {"text":"Learn More","colorName":"orange"} -->
<a href="#" class="btn btn--large btn--orange">Learn More</a>
<!-- /wp:ourblocktheme/genericbutton -->
<!-- /wp:ourblocktheme/slide -->
<!-- /wp:ourblocktheme/slideshow -->

<!-- wp:ourblocktheme/footer /-->